.App {
}

.route {
  margin-left: 200px;
  padding-top: 50px;
  padding-left: 10px;
  overflow: hidden;
  background-color: #eaeaea;
}

.remove_margin {
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
}
