.App {
  min-height: 100%;
}

.route {
  height: 100vh;
  margin-left: 200px;
  padding-left: 10px;
  overflow: hidden;
  background-color: #eaeaea;
}

.remove_margin {
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
}
