.home_page_login_non {
  background-color: rgb(255, 251, 222);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: brightness(50px);
  background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* ..............home_page__left_Section.............. */
.home_page__left_Section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_page__left_Section_text {
  font-size: 66px;
  font-weight: bold;
  color: rgb(203, 255, 220);
}
.home_page__left_Section_Btn_Container {
  display: flex;
  gap: 20px;
}
.home_page_Font_Awesome {
  margin-left: 6px;
}
.home_page__left_Section_button {
  background-color: rgb(0, 136, 91);
  color: rgb(255, 251, 222);
  font-size: 22px;
  width: 140px;
  height: 40px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home_page__left_Section_button:hover {
  background-color: rgb(50, 188, 230);
  color: rgb(255, 251, 222);
  box-shadow: 0 0 5px 2px rgba(3, 227, 189, 0.473);
}

/* ..............home_page__right_Section.............. */
.home_page__right_Section {
  width: 50%;
}
.home_page__right_Section_Image {
  width: 90%;
}

@media (max-width: 680px) {
  .home_page_login_non {
    display: block;
    padding-top: 30px;
  }

  .home_page__left_Section_text {
    font-size: 50px;
  }

  .home_page__right_Section {
    width: 100%;
    text-align: center;
  }
  .home_page__right_Section_Image {
    width: 350px;
  }
}
