.main_container {
    width: 100%;
    background-color: #ececec;
  }
  
  .sub_container {
    width: 100%;
    background-color: #ffffff;
  }
  
  .button_container {
    background-color: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 0 15px 15px 0;
  }
  
  .employee_table_container {
    overflow-x: auto;
  }
  
  .employee_table {
    width: 95%;
    border-collapse: collapse;
  }
  
  .employee_table_head {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
  }
  
  .employee_table th,
  .employee_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .employee_table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  