.navbar_main_cointainer {
  width: 200px;
  height: 100vh;
  background-color: #20262a;
  position: fixed;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.user_panel {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25%;
  color: #e3faff;
}
.user_panel_fullname {
  font-size: 22px;
  text-transform: capitalize;
  border-top: 1px solid rgb(174, 174, 174);
  padding-top: 10px;
  color: #2dc483;
  font-weight: bold;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.user_panel img {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 100%;
  box-shadow: inset 0 0 10px 1px rgba(219, 219, 219, 0.4);
}

.separator_hr_line {
  background-color: rgb(2, 2, 2);
}

.dashBord {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 1.2em;
  margin-top: 20px;
  color: #e3faff;
  gap: 10px;
  border-top: 2px solid rgb(179, 254, 255);
  border-bottom: 2px solid rgb(179, 254, 255);
}

.admin_Section ul li {
  margin: 25px 0 10px 25px;
  list-style: none;
  font-size: 18px;
}

.inactive {
  color: #e3faff;
}

.admin_Section ul li a {
  padding-left: 10px;
  text-decoration: none;
}

.inactive a {
  color: #e3faff;
}

.admin_Section ul li:hover {
  color: #2dc483;
  transform: scale(1.08);
  font-weight: bold;
}

.admin_Section ul li a:hover {
  color: #2dc483;
  transform: scale(1.08);
  font-weight: bold;
}

.active,
.active a {
  color: #2dc483;
  padding-left: 15px;
  transform: scale(1.08);
  font-weight: bold;
}

